.card {
    padding: 16px;
    display: flex;
    width: 12rem;
    min-height: 10rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #f1f2f4;
    box-shadow:  20px 20px 40px #cdcecf, -20px -20px 40px #ffffff;
    border: 1px solid white;

    // phone screen
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        flex-direction: column;
        padding: 1rem;
    }

    
    a {
        text-decoration: none;

        h3 {
            color: #01746c;
        }
    }

    &--my-listings {
        padding: 0;
        display: flex;
        width: auto;
        justify-content: space-around;
        margin: 1.5rem 0 1.5rem 0;
        
    }
}