.layout {

    &-content {
        background-color: #f1f2f4;
        min-height: 100vh;
        padding: 0;
        width: 100vw;

        &--column {
            background-color: #f1f2f4;
            margin: 0 auto;
            max-width: inherit;
            min-height: 100vh;
            position: relative;
        }

        &--wrap {
            margin: 5rem 9.37rem;
            padding: 1.6rem;
            border-radius: 50px;
            background: #f1f2f4;
            box-shadow: inset 20px 20px 60px #cdcecf,
            inset -20px -20px 60px #ffffff;
        }
    }

    &--card {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
    }

    &--dataForm-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            color: #01746c;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                color: black;
            }
        }
    }

    &--detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        a {
            color: #01746c;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                color: black;
            }
        }
    }

    &--contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            a {
                color: #01746c;
    
                &:hover {
                    text-decoration: underline;
                }
    
                &:active {
                    color: black;
                }
            }
        }
    }
    
}

