.layout {

    &-content {
        background-color: #f1f2f4;
        min-height: 100vh;
        padding: 0;
        width: 100vw;

        &--column {
            background-color: #f1f2f4;
            margin: 0 auto;
            max-width: inherit;
            min-height: 100vh;
            position: relative;
        }

        &--wrap {
            margin: 5rem 9.37rem;
            padding: 1.6rem;
            border-radius: 16px;
            background: #f1f2f4;
            box-shadow: inset 20px 20px 60px #cdcecf,
            inset -20px -20px 60px #ffffff;

            // phone screen
            @media only screen 
            and (min-device-width : 320px) 
            and (max-device-width : 767px) {
                margin: 0;
                box-shadow: none;
                border-radius: 0;
            }

            //Ipad screen
            @media only screen 
            and (min-device-width : 768px) 
            and (max-device-width : 1024px) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &-signIn {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    &--card {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
    }

    &--dataForm-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &--detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    &--contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}

