.nav-bar {
    border-bottom: 2px solid var(--grey-100, #01746c);
    display: flex;
    padding: 1.5rem 5rem;
    justify-content: space-between;
    align-items: center;

    &--buttons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 24px;
    }
}