<div class="layout-content">
    <div class="layout-content--column" *ngIf="auth.user | async">
        <app-nav-bar></app-nav-bar>
        <div class="layout-content--wrap">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<div id="layout-content layout-signIn" *ngIf="!(auth.user | async)">
    <h1>You need to sign in first !</h1>
    <button class="button" (click)="signInClicked()">Sign in with Google</button>
    <app-footer></app-footer>
</div>