<a routerLink="/new-listing">
    <button class="button button--creating">Create new listing</button>
</a>
<div class="card card--my-listings" *ngFor="let listing of listings">
    <h3>{{listing.name}}</h3>
    <p>{{listing.description}}</p>
    <p>${{listing.price}}</p>
    <div class="buttons-container">
        <a routerLink="/edit-listing/{{listing.id}}">
            <button class="button">Edit</button>
        </a>
        <button class="button" (click)="onDeleteClicked(listing.id)">Delete</button>
    </div>
</div>
