<form (ngSubmit)="onButtonClicked()" class="form">
    <div class="form--input form--name">
        <label for="name">
            Name:
        </label>
        <input name="name" type="text" placeholder="The name of your product" [(ngModel)]="name" />
    </div>
    <div class="form--input form--description">
        <label for="description">
            Item Description:
        </label>
        <input name="description" type="text" placeholder="The description of your product" [(ngModel)]="description" />
    </div>
    <div class="form--input form--price">
        <label for="price">
            Price:
        </label>
        <input name="price" type="text" placeholder="The price of your product" [(ngModel)]="price" />
    </div>
    <button type="submit" class="button--submit">{{buttonText}}</button>
</form>