html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #01746c;
  height: 100%;
}
body a {
  color: #01746c;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body a:active {
  color: black;
}
body div {
  padding: 8px;
}

.layout-content {
  background-color: #f1f2f4;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
}
.layout-content--column {
  background-color: #f1f2f4;
  margin: 0 auto;
  max-width: inherit;
  min-height: 100vh;
  position: relative;
}
.layout-content--wrap {
  margin: 5rem 9.37rem;
  padding: 1.6rem;
  border-radius: 16px;
  background: #f1f2f4;
  box-shadow: inset 20px 20px 60px #cdcecf, inset -20px -20px 60px #ffffff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .layout-content--wrap {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .layout-content--wrap {
    margin-left: 0;
    margin-right: 0;
  }
}
.layout-signIn {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.layout--card {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}
.layout--dataForm-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.layout--detail-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.layout--contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.layout--contact-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: auto;
  display: flex;
  gap: 1.67rem;
  align-items: center;
  color: #01746c;
  font-family: "Righteous", cursive;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h1:active {
  color: black;
}
h1::before {
  content: "";
  -webkit-mask-image: url("../../../../ressources/svg/logo-good-corner.svg");
          mask-image: url("../../../../ressources/svg/logo-good-corner.svg");
  width: 47.034px;
  height: 44px;
  background-color: #01746c;
}

.button {
  color: #01746c;
  cursor: pointer;
  outline: none;
  padding: 16px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--grey-400, #C7CBD1);
  background: var(--grey-200, #F1F2F4);
  box-shadow: 5px 5px 13px 0px rgba(205, 207, 210, 0.9), -5px -5px 10px 0px rgba(251, 253, 255, 0.9), 5px -5px 10px 0px rgba(205, 207, 210, 0.2), -5px 5px 10px 0px rgba(205, 207, 210, 0.2), -1px -1px 2px 0px rgba(205, 207, 210, 0.5) inset, 1px 1px 2px 0px rgba(251, 253, 255, 0.3) inset;
}
.button:hover {
  background-color: #dfdfdf;
  text-decoration: underline;
  transition: 0.3s;
}
.button:active {
  border-radius: 8px;
  border: 1px solid var(--grey-400, #C7CBD1);
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
}
.button-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 16px;
}

.button--submit {
  width: -moz-fit-content;
  width: fit-content;
}

.buttons-container > button {
  margin-left: 8px;
}

.card {
  padding: 16px;
  display: flex;
  width: 12rem;
  min-height: 10rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f1f2f4;
  box-shadow: 20px 20px 40px #cdcecf, -20px -20px 40px #ffffff;
  border: 1px solid white;
}
.card:hover {
  border: 1px solid #01746c;
  transition: 0.2s ease-in-out;
}
.card--descript {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card--descript:hover::after {
  content: "";
  -webkit-mask-image: url("../../../../ressources/svg/eye.svg");
          mask-image: url("../../../../ressources/svg/eye.svg");
  width: 16px;
  height: 16px;
  background: #01746c;
}
.card--descript::after {
  content: "";
  -webkit-mask-image: url("../../../../ressources/svg/eye.svg");
          mask-image: url("../../../../ressources/svg/eye.svg");
  width: 16px;
  height: 16px;
  position: relative;
  bottom: -10px;
  right: -80px;
  background-color: #01746c;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    flex-direction: column;
    padding: 1rem;
  }
}
.card a {
  text-decoration: none;
}
.card a:hover {
  text-decoration: none;
}
.card a h3 {
  color: #01746c;
}
.card--my-listings {
  padding: 0;
  display: flex;
  width: auto;
  justify-content: space-around;
  margin: 1.5rem 0 1.5rem 0;
}

footer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #f1f2f4;
  z-index: 2;
  border-top: 2px solid #01746c;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.31rem;
  padding: 3rem 4rem;
}
.form--input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form--input input {
  border-radius: 8px;
  border: 1px solid var(--grey-100, #FFF);
  background: linear-gradient(135deg, #E5E6E8 0%, #FDFEFF 100%);
  box-shadow: 4px 4px 10px 0px rgba(188, 189, 190, 0.9), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px -4px 8px 0px rgba(188, 189, 190, 0.2), -4px 4px 8px 0px rgba(188, 189, 190, 0.2), -1px -1px 2px 0px rgba(188, 189, 190, 0.5) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
  font-size: 16px;
  padding: 8px;
}
.form--input input:focus {
  border: 1px solid #01746c;
}
.form--input textarea {
  border-radius: 8px;
  border: 1px solid var(--grey-100, #FFF);
  background: linear-gradient(135deg, #E5E6E8 0%, #FDFEFF 100%);
  box-shadow: 4px 4px 10px 0px rgba(188, 189, 190, 0.9), -4px -4px 8px 0px rgba(255, 255, 255, 0.9), 4px -4px 8px 0px rgba(188, 189, 190, 0.2), -4px 4px 8px 0px rgba(188, 189, 190, 0.2), -1px -1px 2px 0px rgba(188, 189, 190, 0.5) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
  font-size: 16px;
  padding: 8px;
}

.nav-bar {
  border-bottom: 2px solid var(--grey-100, #01746c);
  display: flex;
  padding: 1.5rem 5rem;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .nav-bar {
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }
  .nav-bar h1 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 50px;
  }
  .nav-bar--buttons {
    justify-items: center;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav-bar {
    flex-direction: column;
    gap: 3rem;
  }
  .nav-bar h1 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 52px;
  }
  .nav-bar--buttons {
    justify-items: center;
  }
}
.nav-bar > a {
  text-decoration: none;
}
.nav-bar > a:hover {
  text-decoration: none;
}
.nav-bar--buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}/*# sourceMappingURL=styles.css.map */