<div class="content-box">
    <h3>Send the owner a message</h3>
    <form action="">
        <label for="">
            Your email address :
            <input name="email" [(ngModel)]="email"/>
        </label>
        <label for="">
            Your message :
            <textarea 
            name="message" 
            rows="5" 
            cols="20"
            [(ngModel)]="message"
            ></textarea>
        </label>
    </form>
    <button (click)="sendMessage()">Send</button>
</div>